*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20vh 0;
}

.slick span {
  display: block;
  background: #ffffff;
  color: #000000;
  font-size: 36px;
  height: auto;
  /* line-height: 100px; */
  position: relative;
  text-align: center;
  
  transform: translate(0, 0) scale(0.4);
  transition: all 0.4s ease;
  /* opacity: 0.5; */
  box-shadow: 5px 5px 20px #888888;
  border-radius: 9px;
}

.slick-slide img{
  width: 100%;
  border-radius: 9px 9px 0px 0px;
}

.slick-slide.lt2 span {
  transform: translate(10%, 0) scale(0.6);
}
.slick-slide.lt1 span {
  /* opacity: 0.7; */
  transform: translate(20%, 0) scale(0.8);
}
.slick-slide.gt1 span {
  /* opacity: 0.7; */
  transform: translate(-20%, 0) scale(0.8);
}
.slick-slide.gt2 span {
  transform: translate(-10%, 0) scale(0.6);
}
.slick-slide.slick-center span {
  z-index: 1;
  transform: scale(1);
  opacity: 1;
  color: #e67e22;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  appearance: none;
  margin-top: -10px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: transparent;
  outline: none;
  z-index: 100;
}

.slick-prev {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #007bff transparent transparent;
  left: 0;
}
.slick-next {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #007bff;
  right: 0;
}
